body{
    margin:0;
    padding:0;
    background-image: url(photo8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    font-size: 5PX;
}
.bday{
    margin-top:80px;
    text-align: center;
    background: linear-gradient(180deg,hsla(36, 97%, 35%, 0.911) 0%,#19191a 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 100px;
    font-family: bday;
}
.name{ 
    padding-right: 100px;
    margin-left: 320px;
    margin-top:  70px;
    text-align: center;
    background: linear-gradient(180deg,#a55f25 0%,#161516 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 100px;
    font-family: bday;
    display: inline-block;


}
.name:hover{
    -webkit-box-reflect: below -8px -webkit-gradient(linear,right top,right bottom,from(transparent),color-stop(85%,transparent,to(rgba(42,99,99,1))));

}
.wrapper{
    position: relative;
    width: 320px;
    margin: 150px auto;
    perspective: 1000px;
    margin-bottom: 500px;

}
.img-area{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    animation: animate 25s steps(1000,end) infinite;
}
.single-img{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 10px;
    left: 10px;
    
}
.single-img img{
    width: 300px;
    height: 200px;
    border: 5px solid white;
}
.single-img.img-one{
    transform: rotateY(0deg) translate(300px);
}
.single-img.img-two{
    transform: rotateY(60deg) translate(300px);
}
.single-img.img-three{
    transform: rotateY(120deg) translate(300px);
}
.single-img.img-four{
    transform: rotateY(180deg) translate(300px);
}
.single-img.img-seven{
    transform: rotateY(240deg) translate(300px);
}
.single-img.img-six{
    transform: rotateY(300deg) translate(300px);
}
img{
    filter: grayscale(0%);
    transition: 1s;
    cursor: pointer;
}
img:hover{
    transition: 1s;
    filter: grayscale(150%);

}
@keyframes animate{
    from{
        transform: rotate(-360deg);

    }
    to{
        transform: rotateY(150deg);
    }
}

@font-face{
    font-family: bday;
    src:url(bday.ttf)
}